@model IEnumerable<CustomerServicePortal.Models.IdCardListModel>
<table class="table user-list w-100 table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMSSN)
            </th>
            <th>
                STREET1
            </th>
            <th>
                STREET2
            </th>
            <th>
                CITY
            </th>
            <th>
                STATE
            </th>
            <th>ZIP</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        var CompleteBadge = "";
        var Completebutton = "";
        if (item.Completestatus)
        {
            Completebutton = "d-none";

        }
        else
        {
            CompleteBadge = "d-none";
        }
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MemberId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @(CustomerServicePortal.Common.StaticClass.SSN_DisplayForamatting(item.EMSSN))
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Addr1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Addr2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.State)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Zip1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IDCardType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IDCardQuantity)
    </td>

    <td>


        <span class="badge badge-success CompleteBadge  @CompleteBadge">Completed</span>
        <button type="button" class="btn btn-primary btn-sm Completebutton @Completebutton" onclick="CompleteStatusNotes(@item.Id,this)">Complete</button>
    </td>

</tr>
    }

</table>
