@model IEnumerable<CustomerServicePortal.Models.IdCardListModel>

@{
    ViewBag.Title = "Index";
}

<div class="col-lg-12">
    <div class="main-box clearfix m-30">
        <div class="action-btn-block">
            <p class="m-0">Id Card Requests </p>
        </div>
        <div class="tableWrap">

            <table class="table user-list w-100 table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EMSSN)
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMSSN)
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>*@
                    </tr>
                }

            </table>
        </div>
    </div>
</div>