@model CustomerServicePortal.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <style>
        span.text-danger.field-validation-error {
            font-size: 12px
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/login-custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/js/login-custom.js"></script>

    <title></title>
</head>
<body>

    <section class="login-reg-main">
        <div class="container-fluid w-100 p-0">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="block-log">
                        <div class="login-reg-block active" id="loginBlock">
                            <h2>Login</h2>
                            <p class="mb-5">Enter your details below to continue</p>
                            <form action="@Url.Action("Login", "Account")" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <!-- <label for="">Email address</label> -->
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" }) <small id="p" class="form-text text-muted"></small>
                                </div>
                                <div class="form-group mb-4">
                                    <!-- <label for="">Password</label> -->
                                    @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                    <small id="" class="form-text text-muted"></small>
                                </div>
                                <button type="submit" class="btn btn-primary submit-button">Login</button>
                            </form>
                            @*   <a href="@Url.Action("Register", "Account")" class="signup-a">Don't have an account? <span>Sign up here</span></a>*@
                          
                            <span style="color:red;font-size:14px">@TempData["Message"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script type="text/javascript">
</script>