@model CustomerServicePortal.Models.EMPdetails
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <input type="hidden" value="@Model.EMSSN" />
            @Html.HiddenFor(x => x.EMSSN)
            <label class = "control-label col-md-2">Address1</label>
        @*    @Html.LabelFor(model => model.Addr1, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.TextBoxFor(model => model.Addr1, new { @class = "form-control", @placeholder = "Address1" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-2">Address2</label>
            @*   @Html.LabelFor(model => model.Addr2, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.TextBoxFor(model => model.Addr2, new { @class = "form-control", @placeholder = "Address2" })
        </div>
    </div>

<div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-2">Address3</label>
     @*   @Html.LabelFor(model => model.Addr3, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @Html.TextBoxFor(model => model.Addr3, new { @class = "form-control", @placeholder = "Address3" })
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-2">Address4</label>
       @* @Html.LabelFor(model => model.Addr4, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @Html.TextBoxFor(model => model.Addr4, new { @class = "form-control", @placeholder = "Address4" })
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-2">City</label>
    @*    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "City" })
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-2">State</label>
       @* @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "State" })
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-2">Zip1</label>
      @*  @Html.LabelFor(model => model.Zip1, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @Html.TextBoxFor(model => model.Zip1, new { @class = "form-control", @placeholder = "Zip1" })
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-2">Zip2</label>
    @*    @Html.LabelFor(model => model.Zip2, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @Html.TextBoxFor(model => model.Zip2, new { @class = "form-control", @placeholder = "Zip2" })
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-2">Zip2</label>
     @*   @Html.LabelFor(model => model.Zip3, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @Html.TextBoxFor(model => model.Zip3, new { @class = "form-control", @placeholder = "Zip3" })
    </div>
</div>

</div>