@model List<CustomerServicePortal.Models.ClaimDetailModel>
<style>
    .table thead th {
        padding: 5px 10px !important;
    }
</style>




                <div class="tableWrap">
                    <div class="table-responsive">
                        <table class="table user-list w-100 table-striped" id="MemberDetails" cell>
                            <thead>
                                <tr>
                                    <th onclick="SortingTable('CHEOB#')">
                                        <div class="d-flex justify-content-between align-items-center">
                                            EOB No: <i class="fa fa-sort"></i>
                                        </div>
                                    </th>
                                    <th onclick="SortingTable('CHCLM#')">
                                        <div class="d-flex justify-content-between align-items-center">
                                            Claim No: <i class="fa fa-sort"></i>
                                        </div>
                                    </th>
                                    <th onclick="SortingTable('ClaimDate')">
                                        <div class="d-flex justify-content-between align-items-center mw-100">
                                            Date: <i class="fa fa-sort"></i>
                                        </div>
                                    </th>
                                    <th onclick="SortingTable('DPNAME')">
                                        <div class="d-flex justify-content-between align-items-center">
                                            For: <i class="fa fa-sort"></i>
                                        </div>
                                    </th>
                                    <th onclick="SortingTable('CHCLTP')">
                                        <div class="d-flex justify-content-between align-items-center">
                                            Type: <i class="fa fa-sort"></i>
                                        </div>
                                    </th>
                                    <th onclick="SortingTable('PRPNAM')">
                                        <div class="d-flex justify-content-between align-items-center">
                                            Provider: <i class="fa fa-sort"></i>
                                        </div>

                                    </th>
                                    <th onclick="SortingTable('CHCLM$')">
                                        <div class="d-flex justify-content-between align-items-center">
                                            Total: <i class="fa fa-sort"></i>
                                        </div>
                                    </th>
                                    <th onclick="SortingTable('CHPAY$')">
                                        <div class="d-flex justify-content-between align-items-center">
                                            Plan Paid: <i class="fa fa-sort"></i>
                                        </div>
                                    </th>
                                    <th onclick="SortingTable('MemberPaid')">
                                        <div class="d-flex justify-content-between align-items-center">
                                            Member Resp: <i class="fa fa-sort"></i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-left"><a href="#" onclick="EOBExpanModelpopup('@item.SSN','@item.ClaimNo')">@item.EOBNO</a></td>
                                    <td class="text-left"><a href="#" onclick="ClaimExpanModelpopup('@item.SSN','@item.ClaimNo')">@item.ClaimNo</a></td>
                                    @if (item.ClaimYear != "0" && item.ClaimMonth != "0" && item.ClaimDate != "0" && item.ClaimYear != " " && item.ClaimMonth != " " && item.ClaimDate != " ")
                                    {
                                        <td class="text-left">@(new DateTime(Convert.ToInt32(item.ClaimYear), Convert.ToInt32(item.ClaimMonth), Convert.ToInt32(item.ClaimDate)).ToString("MM/dd/yyyy"))</td>

                                    }
                                    else
                                    {
                                        <td class="text-left">N/A</td>
                                    }
                                    <td class="text-left">@item.For</td>
                                    <td class="text-left">@item.Type</td>
                                    <td class="text-left">@item.Provider</td>
                                    <td class="text-left">@item.Total</td>
                                    <td class="text-left">@item.PlanPaid</td>
                                    <td class="text-left">@item.MemerResp</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>




@*<script>
    $(document).ready(function () {
        $('#MemberDetails').DataTable({
            searching: false, paging: false, info: false
        });
    });
</script>*@