@model List<CustomerServicePortal.Models.ClaimDetailModel>
<div class="dataTable">
    <div class="resultTable">
        <div class="col-lg-12">
            <div class="main-box clearfix m-30 pt-20">
                <div class="tableWrap">
                    <div class="table-responsive">
                        <table class="table user-list w-100 table-striped" cell>
                            <thead>
                                <tr>
                                    <th>EOB No:</th>
                                    <th>Claim No:</th>
                                    <th>Date</th>
                                    <th>For</th>
                                    <th>Type</th>
                                    <th>Provider</th>
                                    <th>Total</th>
                                    <th>Plan Paid</th>
                                    <th>Member Resp</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                        <tr class="tr">
                            <td><a href="#" onclick="EOBExpanModelpopup('@item.SSN','@item.ClaimNo')">@item.EOBNO</a></td>
                            <td><a href="#" onclick="ClaimExpanModelpopup('@item.SSN','@item.ClaimNo')">@item.ClaimNo</a></td>
                            @if (item.ClaimYear !="0" && item.ClaimMonth !="0" && item.ClaimDate != "0" && item.ClaimYear != " " && item.ClaimMonth != " " && item.ClaimDate != " ")
                            {
                                <td>@(new DateTime(Convert.ToInt32(item.ClaimYear), Convert.ToInt32(item.ClaimMonth), Convert.ToInt32(item.ClaimDate)).ToString("MM/dd/yyyy"))</td>

                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            <td>@item.For</td>
                            <td>@item.Type</td>
                            <td style="text-align:left">@item.Provider</td>
                            <td>@item.Total</td>
                            <td>@item.PlanPaid</td>
                            <td>@item.MemerResp</td>
                        </tr>
                            }
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>