@model CustomerServicePortal.Models.ClaimDetailDashBoardModel
@{
    ViewBag.Title = "Index";
}

<style>
    .modal.fade.in {
        opacity: 1;
    }

    .no-depend {
        font-size: 13px;
        padding: 10px 0px;
    }

    .loader2 {
        width: 50px;
        height: 50px;
        display: inline-block;
        padding: 0px;
        border-radius: 100%;
        border: 10px solid;
        border-top-color: rgba(254, 168, 23, 0.65);
        border-bottom-color: rgba(57, 154, 219, 0.65);
        border-left-color: rgba(188, 84, 93, 0.95);
        border-right-color: rgba(137, 188, 79, 0.95);
        -webkit-animation: loader2 2s ease-in-out infinite alternate;
        animation: loader2 2s ease-in-out infinite alternate;
    }

    @@keyframes loader2 {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(720deg);
        }
    }

    @@-webkit-keyframes loader2 {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(720deg);
        }
    }

    .loader-main {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 9999;
        display: none;
    }

    .loader-sub {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: rgb(255 255 255 / 50%);
    }

    .table th, .table td {
        border-top: none !important;
    }
</style>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div class="user">
    <div class="box info">
        <div class="detail">
            <div class="profilePhoto">
                <div class="photo">

                    <img src="~/Content/img/lisa-dominic.png" alt="" />
                </div>
            </div>
            <div class="intro">
                <a onclick="Reset(@Model.eMPdetails.EMSSN)" href="#"><h4>@Model.eMPdetails.Name</h4></a>
                <strong class="h6">ID: <span>@Model.eMPdetails.Id</span></strong>
                <strong class="h6">Gender: <span>@Model.eMPdetails.Gender</span></strong>
                <strong class="h6">DOB: <span>@Model.eMPdetails.DOBDay/@Model.eMPdetails.DOBMonth/@Model.eMPdetails.DOBYear</span></strong>
                @if (Model.eMPdetails.ShowRequestId)
                {
                    <button type="button" class="btn btn-primary IdCardRequest" onclick="IdCardRequest(@Model.eMPdetails.EMSSN,'@Model.eMPdetails.Name','@Model.eMPdetails.Gender')">Request Id</button>
                }

                @*<p>Lorem ipsum dolor sit amet, adipiscing consectetur elit.</p>*@
            </div>
        </div>
        <table>
            <tr>
                <th>Relation</th>
                <th>Name</th>
                <th>Status</th>
                <th>Plan</th>
                <th>Class</th>
                <th>DOB</th>
            </tr>
            @if (Model.dependentDetailModels.Count > 0)
            {
                foreach (var item in Model.dependentDetailModels)
                {
                    <tr onclick="GetSpouseCliamDetailTable(@item.SSN,@item.DependentSeq)">
                        <td>@item.Relation</td>
                        <td>@item.DependenetName</td>
                        <td>@item.Status</td>
                        <td>@item.Plan</td>
                        <td>@item.Class</td>
                        <td>@item.Month-@item.Day-@item.Year</td>
                    </tr>
                }

            }
            else
            {
                <tr><td colspan="6" class="no-depend">No Dependant</td></tr>
            }
        </table>
        <button type="button" class="btn btn-primary">Add Dependent</button>
    </div>
    <div class="box archive">
        <div class="byYear">

            @Html.Partial("_DEDMET_OOP_PartialView", Model.dEDMETModelCurentYear)
            @Html.Partial("_DEDMET_OOP_PartialView", Model.dEDMETModelPreviousYear)



        </div>
    </div>
    <div class="box">
        <h4>Address</h4>
        <p>
            @{
                var x = "";
            }

            @if (Model.eMPdetails.Addr1.Trim() != "")
            {
                x += Model.eMPdetails.Addr1;
            }
            @if (Model.eMPdetails.Addr2.Trim() != "")
            {
                x += "," + Model.eMPdetails.Addr2;
            }
            @if (Model.eMPdetails.Addr3.Trim() != "")
            {
                x += "," + Model.eMPdetails.Addr3;
            }
            @if (Model.eMPdetails.Addr4.Trim() != "")
            {
                x += "," + Model.eMPdetails.Addr4;
            }
            @if (Model.eMPdetails.City.Trim() != "")
            {
                x += "," + Model.eMPdetails.City;
            }
            @if (Model.eMPdetails.State.Trim() != "")
            {
                x += "," + Model.eMPdetails.State;
            }
            @if (Model.eMPdetails.Zip1.Trim() != "")
            {
                x += "," + Model.eMPdetails.Zip1;
            }
            @if (Model.eMPdetails.Zip2.Trim() != "")
            {
                x += "," + Model.eMPdetails.Zip2;
            }
            @if (Model.eMPdetails.Zip3.Trim() != "")
            {
                x += "," + Model.eMPdetails.Zip3;
            }


            @x <button class="fa fa-edit" href="" onclick="EditAddress(@Model.eMPdetails.EMSSN)"></button>
        </p>
    </div>
    <div class="box">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in leo velit.</p>
    </div>

</div>

<div class="searchFilter">
    <div class="download" onclick="ExportTable(@Model.eMPdetails.EMSSN)">
        <span>
            <input type="hidden" value="0" id="DEPSEQ" />
            <img src="~/Content/img/excel-icon.png" alt="" />
        </span>
    </div>
    <div class="inputWrap">
        <div class="inputField">
            <label>Service Date</label>
            <input type="text" name="servicedate" id="Fromservicedate" class="datepicker input-group date">
        </div>
        <div class="inputField">
            <label>To</label>
            <input type="text" name="to" id="Toservicedate" class="datepicker input-group date">
        </div>
        <div class="inputField">
            <label>Claim #</label>
            <input type="text" name="claim" id="claim">
        </div>
        <div class="inputField">
            <label>DEP #</label>
            <input type="text" name="dep" id="dep">
        </div>
        <div class="inputField">
            <input type="submit" value="Search" onclick="GetCliamDetailTable(@Model.eMPdetails.EMSSN)">
        </div>
        <div class="inputField">
            <input type="reset" value="Reset" onclick="Reset(@Model.eMPdetails.EMSSN)">
        </div>
    </div>
</div>
<div class="loader-main">
    <div class="loader-sub">
        <div class="loader2"></div>
    </div>
</div>
<div id="EditAddress" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-lg" role="document" style="margin-top: 144px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*<form id="AddressUpdateSubmit">*@
            @using (Ajax.BeginForm("UpdateAddress", "MemberDetails",
                 new AjaxOptions
                 {
                     OnSuccess = "OnSuccess",
                     OnFailure = "OnFailure",
                     LoadingElementId = "progress"
                 }))
            {
                <div class="modal-body">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="AddressUpdateSubmit()">Save changes</button>
                </div>
                @*</form>*@
            }
        </div>
    </div>
</div>
<!--/searchFilter-->
<div id="claimDetailGrid">
    @{Html.RenderPartial("_MemeberDetailsPartialView", Model.claimDetailModels);}
</div>
<script type=text/javascript>
    $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy',
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+100"
    });

    function OnSuccess(response) {
        //location.reload();  
    }
    function OnFailure(response) {
        //location.reload();  
    }
 
    function EditAddress(SSN) {
                  $.ajax({
                type: "GET",
                url:'@Url.Action("GetAddreessParialViewHtml", "MemberDetails")',
                data: {  SSN: SSN},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {


                    $('.modal-body').html(response.viewContent);

                    $('#EditAddress').modal('show');

                },
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });

    }

    function GetSpouseCliamDetailTable(ssn, DependentSeq) {
        $('#claim').val("");
        $('#servicedate').val("");
        $('#to').val("");
        $('#dep').val("");
        $('#DEPSEQ').val(DependentSeq);
        GetCliamDetailTable(ssn);
    }
    function Reset(SSN) {
        $('#claim').val("");
        $('#servicedate').val("");
        $('#to').val("");
        $('#dep').val("");
        $('#DEPSEQ').val(0);
        GetCliamDetailTable(SSN);
    }
    function GetCliamDetailTable(SSN) {

        var Fromdate = "";
        var Todate = "";
        if ($('#Fromservicedate').val() !="") {
            Fromdate = (new Date($('#Fromservicedate').val())).toISOString();
        }
        if ($('#Toservicedate').val() != "") {
            Todate = (new Date($('#Toservicedate').val())).toISOString();
        }
        $('.loader-main').show();

            $.ajax({
                type: "GET",
                url:'@Url.Action("GetCliamDetailTable", "MemberDetails")',
                data: { page: 1, SSN: SSN, DependentSeq: $('#DEPSEQ').val(), ClaimNumber: $('#claim').val(), Fromdate: Fromdate, Todate: Todate},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('.loader-main').hide();

                    $('#claimDetailGrid').html(response.viewContent);

                },
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
    };

    function ExportTable(SSN) {
        var Fromdate = "";
        var Todate = "";
        if ($('#Fromservicedate').val() != "") {
            Fromdate = (new Date($('#Fromservicedate').val())).toISOString();
        }
        if ($('#Toservicedate').val() != "") {
            Todate = (new Date($('#Toservicedate').val())).toISOString();
        }
         $.ajax({
             type: "POST",

            url: '@Url.Action("ExportExcel", "MemberDetails")',
            //contentType: "application/json; charset=utf-8",
             dataType: "json",
             data: { SSN: SSN, DEPSEQ: $('#DEPSEQ').val(), claim: $('#claim').val(),Fromdate: Fromdate, Todate: Todate},
        }).done(function (data) {

            //get the file name for download
            if (data.fileName != "") {
                $("#wait").css("display", "none");
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "MemberDetails", Action = "Download" })/?fileName=" + data.fileName;
                //window.location.href = "ABC_DynamicQuery/Home/Download?fileName="+data.fileName;
            }
        });

    }

    async function IdCardRequest(SSN, Name, Gender) {
        debugger;
        const { value: text } =await Swal.fire({
            input: 'textarea',
            inputLabel: 'Message',
            inputPlaceholder: 'Type your message here...',
            inputAttributes: {
                'aria-label': 'Type your message here'
            },
            showCancelButton: true
        })

        if (text) {

            $.ajax({
                type: "GET",
                url:'@Url.Action("IdCardRequest", "MemberDetails")',
                data: { SSN: SSN, Notes: text, Name: Name, Gender: Gender},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response == true) {
                        $('.IdCardRequest').remove();
                    }
                    else {
                        alert("false")
                    }

                },
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        }
    }
</script>