@model CustomerServicePortal.Models.ClaimDetailDashBoardModel
@{
    ViewBag.Title = "Index";
}

<style>
    .Pager {
        float: right;
        margin: 10px 0px 0px 0px;
    }

        .Pager span {
            color: #fff !important;
            background-color: #333e75 !important;
            border: 1px solid #333e75 !important;
            border-radius: 30px;
            width: 25px;
            height: 25px;
            min-width: 25px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .Pager a {
            width: 25px;
            color: #ffffff;
            margin-right: 3px;
            height: 25px;
            border-radius: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
        }

    .modal.fade.in {
        opacity: 1;
    }

    .no-depend {
        font-size: 13px;
        padding: 10px 0px;
    }


    .table th, .table td {
        border-top: none !important;
    }

    body .modal-dialog { /* Width */
        max-width: 80%;
        /*     width: auto !important;
        display: inline-block;*/
    }

        body .modal-dialog .IDcardrequestPopUp {
            max-width: 50%;
        }
</style>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<div class="user">
    <div class="box info">
        <div class="col-12">
            <div class="detail">
                <div class="profilePhoto">
                    <div class="photo">
                        @if (Model.eMPdetails.Gender == "F")
                        {
                            <img src="~/Content/img/lisa-dominic.png" alt="" />
                        }
                        else
                        {
                            <img src="~/Content/img/Men.png" alt="" />
                        }


                    </div>
                </div>
                <div class="intro">
                    <a onclick="Reset()" href="#"><h4>@Model.eMPdetails.Name</h4></a>
                    <input type="hidden" value="@Model.eMPdetails.EMSSN" id="EMSSN_HiddenValue" />
                    <strong class="h6">ID: <span>@Model.eMPdetails.Id</span></strong>
                    <strong class="h6">Gender: <span>@Model.eMPdetails.Gender</span></strong>
                    @if (Model.eMPdetails.DOBYear != null && Model.eMPdetails.DOBMonth != null && Model.eMPdetails.DOBDay != null && Model.eMPdetails.DOBYear != "" && Model.eMPdetails.DOBMonth != "" && Model.eMPdetails.DOBDay != "" && Model.eMPdetails.DOBYear != "0" && Model.eMPdetails.DOBMonth != "0" && Model.eMPdetails.DOBDay != "0")
                    {
                        <strong class="h6">DOB: <span>@(new DateTime(Convert.ToInt32(@Model.eMPdetails.DOBYear), Convert.ToInt32(@Model.eMPdetails.DOBMonth), Convert.ToInt32(@Model.eMPdetails.DOBDay)).ToString("MM/dd/yyyy"))</span></strong>

                    }
                    else
                    {
                        <strong class="h6">DOB: <span>N/A</span></strong>
                    }
                    @if (Model.eMPdetails.ShowRequestId)
                    {
                        <button type="button" class="btn btn-primary IdCardRequest mb-2" onclick="IdCardRequest(@Model.eMPdetails.EMSSN,'@Model.eMPdetails.Name','@Model.eMPdetails.Gender')">Request ID Card</button>
                    }

                    <button type="button" class="btn btn-primary">Print Temporary ID Card</button>
                    @*<p>Lorem ipsum dolor sit amet, adipiscing consectetur elit.</p>*@
                </div>
            </div>
        </div>
        <div class="col-12 userTable-block">
            <table>
                <tr>
                    <th>Relation</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Plan</th>
                    <th>Class</th>
                    <th>DOB</th>
                    <th>Action</th>
                </tr>
                @if (Model.dependentDetailModels.Count > 0)
                {
                    foreach (var item in Model.dependentDetailModels)
                    {
                        <tr>
                            <td>@item.Relation</td>
                            <td><a onclick="GetSpouseCliamDetailTable(@item.DependentSeq)" href="#"> @item.DependenetName</a> </td>
                            <td>@item.Status</td>
                            <td>@item.Plan</td>
                            <td>@item.Class</td>
                            <td>@(new DateTime(Convert.ToInt32(item.BirthYear), Convert.ToInt32(item.BirthMonth), Convert.ToInt32(item.BirthDay)).ToString("MM/dd/yyyy"))</td>
                            <td><i class="fa fa-pencil" onclick="EditDependent(@Model.eMPdetails.EMSSN,@item.DependentSeq)"></i></td>
                        </tr>
                    }

                }
                else
                {
                    <tr><td colspan="7" class="no-depend">No Dependant</td></tr>
                }
            </table>
            <button type="button" class="btn btn-primary" onclick="EditDependent(@Model.eMPdetails.EMSSN,0)"><i class="fa fa-plus"></i> Add Dependent</button>

        </div>
    </div>
    <div class="box archive">
        <div class="byYear">
            @if (Model.dEDMETModelCurentYear.Count > 0)
            {
                @Html.Partial("_DEDMET_OOP_PartialView", Model.dEDMETModelCurentYear)
            }
            @if (Model.dEDMETModelPreviousYear.Count > 0)
            {
                @Html.Partial("_DEDMET_OOP_PartialView", Model.dEDMETModelPreviousYear)
            }



        </div>
    </div>
    <div class="box">
        <h4>Address</h4>
        <p>
            @{
                var x = "";
            }

            @if (Model.eMPdetails.Addr1.Trim() != "" && Model.eMPdetails.Addr1 != null)
            {
                x += Model.eMPdetails.Addr1;
            }
            @if (Model.eMPdetails.Addr2.Trim() != "" && Model.eMPdetails.Addr2 != null)
            {
                x += "," + Model.eMPdetails.Addr2;
            }
            @if (Model.eMPdetails.Addr3.Trim() != "" && Model.eMPdetails.Addr3 != null)
            {
                x += "," + Model.eMPdetails.Addr3;
            }
            @if (Model.eMPdetails.Addr4.Trim() != "" && Model.eMPdetails.Addr4 != null)
            {
                x += "," + Model.eMPdetails.Addr4;
            }
            @if (Model.eMPdetails.City.Trim() != "" && Model.eMPdetails.City != null)
            {
                x += "," + Model.eMPdetails.City;
            }
            @if (Model.eMPdetails.State.Trim() != "" && Model.eMPdetails.State != null)
            {
                x += "," + Model.eMPdetails.State;
            }
            @if (Model.eMPdetails.Zip1.Trim() != "" && Model.eMPdetails.Zip1 != null)
            {
                x += "," + Model.eMPdetails.Zip1;
            }
            @if (Model.eMPdetails.Zip2.Trim() != "" && Model.eMPdetails.Zip2 != null)
            {
                x += "," + Model.eMPdetails.Zip2;
            }
            @if (Model.eMPdetails.Zip3.Trim() != "" && Model.eMPdetails.Zip3 != null)
            {
                x += "," + Model.eMPdetails.Zip3;
            }


            @x <button class="editBtn-block" href="" onclick="EditAddress()"><i class="fa fa-pencil"></i></button>
        </p>
    </div>


</div>
<div class="col-12 p-0">
<div class="searchFilter searchCustom-block pr-2">
    <div class="download" onclick="ExportTable()">
        <span>
            <input type="hidden" value="0" id="DEPSEQ" />
            <img src="~/Content/img/excel-icon.png" alt="" />
        </span>
    </div>
    <div class="inputWrap">
        <div class="inputField">
            <label>Service Date</label>
            <input type="text" name="servicedate" autocomplete="off" id="Fromservicedate" class="datepicker input-group date date-input">
        </div>
        <div class="inputField">
            <label>To</label>
            <input type="text" name="to" id="Toservicedate" autocomplete="off"  class="datepicker input-group date date-input">
        </div>
        <div class="inputField">
            <label>Claim #</label>
            <input type="text" name="claim" id="claim">
        </div>
        <div class="inputField">
            <label>DEP #</label>
            <input type="text" class="allownumericwithoutdecimal" name="dep" id="dep">
        </div>
        <div class="inputField-block mr-2">
            <input type="submit" value="Search" onclick="GetCliamDetailTable(1)">
        </div>
        <div class="inputField-block">
            <input type="reset" value="Reset" onclick="Reset()">
        </div>
    </div>
</div>
</div>
<div class="loader-main">
    <div class="loader-sub">
        <div class="loader2"></div>
    </div>
</div>
<div id="CommonModel" class="modal fade modalAddress" role="dialog">
    <div class="modal-dialog" role="document" style="margin-top: 144px;">
        <div class="modal-content CommonModelPopUp">

        </div>
    </div>
</div>
<div id="IDcardrequest" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered IDcardrequest" role="document" style="margin-top: 144px;">
        <div class="modal-content IDcardrequestPopUp m-auto">

        </div>
    </div>
</div>

<div id="EOBExpanModel" class="modal fade modalAddress" role="dialog">
    <div class="modal-dialog mx-w-1200" role="document" style="margin-top: 144px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-end">
                    <button class="none-btn"><i class="fa fa-print" onclick="PrintEOB()"></i></button>
                </div>
                <div class="EOBExpanModelBody">

                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="ClaimDate" id="SortingColumn" />
<input type="hidden" value="DESC" id="Orderby" />
<!--/searchFilter-->
    <div class="report">
        <div class="col-12 main-box clearfix" id="claimDetailGrid">
            @{Html.RenderPartial("_MemeberDetailsPartialView", Model.claimDetailModels);}
        </div>
        <div class="Pager mb-4"></div>
    </div>

    <script type=text/javascript>

        $(".allownumericwithoutdecimal").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
     $(".Pager").ASPSnippets_Pager({
            ActiveCssClass: "current",
            PagerCssClass: "pager",
            PageIndex: 1,
            PageSize: 10,
            RecordCount: @ViewBag.TotalCount_claimDetails,
     });
    $("body").on("click", ".Pager .page", function () {


        GetCliamDetailTable(parseInt($(this).attr('page')));
    });
    function SortingTable(SortingColumn) {
        $('#SortingColumn').val(SortingColumn);
        if ($('#Orderby').val() == "ASC") {
            $('#Orderby').val("Desc");
        }
        else {
            $('#Orderby').val("ASC")
        }
        GetCliamDetailTable(1);
    }
    function GetSpouseCliamDetailTable(DependentSeq) {
        $('#claim').val("");
        $('#servicedate').val("");
        $('#to').val("");
        $('#dep').val("");
        $('#DEPSEQ').val(DependentSeq);
        GetCliamDetailTable(1);
    }
    function Reset() {
        $('#claim').val("");
        $('#Fromservicedate').val("");
        $('#Toservicedate').val("");
        $('#dep').val("");
        $('#DEPSEQ').val(0);
        GetCliamDetailTable(1);
    }
    function GetCliamDetailTable(Page) {
         var SSN = $('#EMSSN_HiddenValue').val();
        var Fromdate = "";
        var Todate = "";
        if ($('#Fromservicedate').val() !="") {
            Fromdate = (new Date($('#Fromservicedate').val())).toISOString();
        }
        if ($('#Toservicedate').val() != "") {
            Todate = (new Date($('#Toservicedate').val())).toISOString();
        }
        $('.loader-main').show();

            $.ajax({
                type: "GET",
                url:'@Url.Action("GetCliamDetailTable", "MemberDetails")',
                data: { page: Page, PageSize: 10, SSN: SSN, DependentSeq: $('#DEPSEQ').val(), ClaimNumber: $('#claim').val(), Fromdate: Fromdate, Todate: Todate, Dependent: $('#dep').val(), SortingColumn: $('#SortingColumn').val(), Orderby: $('#Orderby').val()},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('.loader-main').hide();

                    $('#claimDetailGrid').html(response.viewContent);

                    $(".Pager").ASPSnippets_Pager({
                        ActiveCssClass: "current",
                        PagerCssClass: "pager",
                        PageIndex: response.Page,
                        PageSize: 10,
                        RecordCount: response.TotalCount,
                    });

                },
                failure: function (response2) {
                    $('.loader-main').hide();
                    alert(response2.d);
                },
                error: function (response2) {
                    $('.loader-main').hide();
                    alert("Some error occured");
                }
            });
    };
    $('.datepicker').datepicker({
        dateFormat: 'mm-dd-yy',
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+100"
    });
    function IDCardRequestOnSuccess(response) {
        if (response == true) {
            $('#IDcardrequest').modal('hide');
            $('.IdCardRequest').remove();
        }
        else {
            alert("false")
        }

    }
    function PrintEOB() {

        var divContents = $(".EOBExpanModelBody").html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write(divContents);
        printWindow.document.close();
        printWindow.print();

    }
    function EditAddress() {
var SSN = $('#EMSSN_HiddenValue').val();
        $('.loader-main').show();
                  $.ajax({
                type: "GET",
                url:'@Url.Action("GetAddreessParialViewHtml", "MemberDetails")',
                data: {  SSN: SSN},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response6) {

                    $('.loader-main').hide();
                    $('.CommonModelPopUp').html(response6.viewContent);

                    $('#CommonModel').modal('show');

                },
                failure: function (response6) {
                    alert(response6.d);
                },
                error: function (response6) {
                    alert(response6.d);
                }
            });

    }
      function EOBExpanModelpopup(SSN, Claimnumber) {
        $('.loader-main').show();
                  $.ajax({
                type: "GET",
                url:'@Url.Action("GetEOBDetailsHtml", "MemberDetails")',
                      data: { SSN: SSN, Claimnumber: Claimnumber},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response5) {
                    $('.loader-main').hide();
                    $('.EOBExpanModelBody').html(response5.viewContent);

                    $('#EOBExpanModel').modal('show');

                },
                failure: function (response5) {
                    alert(response5.d);
                },
                error: function (response5) {
                    alert(response5.d);
                }
            });
    }
        function ClaimExpanModelpopup(SSN, Claimnumber) {
        $('.loader-main').show();
                  $.ajax({
                type: "GET",
                url:'@Url.Action("GetClaimDetailExpandModelHTml", "MemberDetails")',
                      data: { SSN: SSN, Claimnumber: Claimnumber},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response4) {

                    $('.loader-main').hide();
                    $('.CommonModelPopUp').html(response4.viewContent);

                    $('#CommonModel').modal('show');

                },
                failure: function (response4) {
                    alert(response4.d);
                },
                error: function (response4) {
                    alert(response4.d);
                }
            });
    }
    function EditDependent(SSN, DependentSeq) {
        $('.loader-main').show();
                  $.ajax({
                type: "GET",
                url:'@Url.Action("EditDependentHtml", "MemberDetails")',
                      data: { SSN: SSN, DependentSeq: DependentSeq},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response3) {

                    $('.loader-main').hide();
                    $('.CommonModelPopUp').html(response3.viewContent);

                    $('#CommonModel').modal('show');
                    $('.datepicker').datepicker({
                        dateFormat: 'mm-dd-yy',
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "-100:+100"
                    });
                },
                failure: function (response3) {
                    alert(response3.d);
                },
                error: function (response3) {
                    alert(response3.d);
                }
            });
    }




        function ExportTable() {
            $('.loader-main').show();
        var SSN = $('#EMSSN_HiddenValue').val();
        var Fromdate = "";
        var Todate = "";
        if ($('#Fromservicedate').val() != "") {
            Fromdate = (new Date($('#Fromservicedate').val())).toISOString();
        }
        if ($('#Toservicedate').val() != "") {
            Todate = (new Date($('#Toservicedate').val())).toISOString();
        }
         $.ajax({
             type: "POST",

            url: '@Url.Action("ExportExcel", "MemberDetails")',
            //contentType: "application/json; charset=utf-8",
             dataType: "json",
             data: { SSN: SSN, DEPSEQ: $('#DEPSEQ').val(), claim: $('#claim').val(), Dependent: $('#dep').val(),Fromdate: Fromdate, Todate: Todate},
         }).done(function (data) {
             $('.loader-main').hide();
            //get the file name for download
            if (data.fileName != "") {
                $("#wait").css("display", "none");
                   window.location.href = "@Url.RouteUrl(new { Controller = "MemberDetails", Action = "Download" })/?fileName=" + data.fileName;
                   }
        });

    }

    function IdCardRequest(SSN, Name, Gender) {


        $('.loader-main').show();
                  $.ajax({
                type: "GET",
                url:'@Url.Action("RequestIDCardHtml", "MemberDetails")',
                data: {  SSN: SSN},
                      contentType: "application/json;charset=utf-8",
             data: { SSN: SSN, Name: Name, Gender: Gender },

                dataType: "json",
                success: function (response6) {

                    $('.loader-main').hide();
                    $('.IDcardrequestPopUp').html(response6.viewContent);

                    $('#IDcardrequest').modal('show');

                },
                failure: function (response6) {
                    alert(response6.d);
                },
                error: function (response6) {
                    alert(response6.d);
                }
            });







    }
    </script>
