@model List<CustomerServicePortal.Models.MemeberDetailsModel>
<style>
    th {
        cursor: pointer;
    }
</style>
<div class="table-responsive">
    <table class="table w-100 table-striped" id="MemeberDetailsTable">
        <thead>
            <tr>
                <th class="w-122">Select</th>
                @if ((bool)ViewBag.GlobalSearch)
                {
            <th onclick="SortingTable('Client')">
                
                <div class="d-flex justify-content-between align-items-center">
                    Client: <i class="fa fa-sort"></i>
                </div>
            </th>
                }
            <th onclick="SortingTable('EMSSN')">
                
                <div class="d-flex justify-content-between align-items-center">
                    SSN: <i class="fa fa-sort"></i>
                </div>
            </th>
            <th onclick="SortingTable('EMNAME')">
                
                <div class="d-flex justify-content-between align-items-center">
                    Member: <i class="fa fa-sort"></i>
                </div>
            </th>
            <th onclick="SortingTable('EMMEM#')">
                
                <div class="d-flex justify-content-between align-items-center">
                    ID: <i class="fa fa-sort"></i>
                </div>
            </th>
            <th onclick="SortingTable('EMCITY')">
                
                <div class="d-flex justify-content-between align-items-center">
                    City: <i class="fa fa-sort"></i>
                </div>
            </th>
            <th onclick="SortingTable('EMST')">
                
                <div class="d-flex justify-content-between align-items-center">
                    State: <i class="fa fa-sort"></i>
                </div>
            </th>
            <th onclick="SortingTable('DOB')">
                
                <div class="d-flex justify-content-between align-items-center">
                    DOB: <i class="fa fa-sort"></i>
                </div>
            </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>


                @*href = "@Url.Action("Index", "MemberDetails", new { SSN = item.SSN })"*@

                <td>

                    @using (Html.BeginForm("Index", "MemberDetails", FormMethod.Post))
                    {
                        <input type="hidden" name="SSN" value="@item.SSN" />
                        <button class="button btn-select" style="cursor:pointer" type="submit">Select</button>
                    }


                </td>
                @if ((bool)ViewBag.GlobalSearch)
                {
                    <td>@item.Client</td>
                }
                <td> @(CustomerServicePortal.Common.StaticClass.SSN_DisplayForamatting(item.SSN))</td>
                <td>@item.Member</td>
                <td>@item.ID</td>
                <td>@item.City</td>
                <td>@item.State</td>
                @if (item.Year != null && item.Month != null && item.Day != null && item.Year != "" && item.Month != "" && item.Day != "" && item.Year != "0" && item.Month != "0" && item.Day != "0")
                {
                    <td>@(new DateTime(Convert.ToInt32(item.Year), Convert.ToInt32(item.Month), Convert.ToInt32(item.Day)).ToString("MM/dd/yyyy")) </td>

                }
                else
                {
                    <td>N/A</td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>


