@model List<CustomerServicePortal.Models.MemeberDetailsModel>

<div class="table-responsive">
    <table class="table w-100 table-striped">
        <thead>
            <tr>
                <th class="w-122">Select</th>
                <th>SSN</th>
                <th>Member</th>
                <th>ID</th>
                <th>City</th>
                <th>State</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
              
                    
                    @*href = "@Url.Action("Index", "MemberDetails", new { SSN = item.SSN })"*@
                  
                    <td>

                        @using (Html.BeginForm("Index", "MemberDetails", FormMethod.Post))
                        {
                            <input type="hidden" name="SSN" value="@item.SSN" />
                            <button class="button btn-select" style="cursor:pointer" type="submit">Select</button>
                        }


                    </td>
                    <td> @(CustomerServicePortal.Common.StaticClass.SSN_DisplayForamatting(item.SSN))</td>
                    <td>@item.Member</td>
                    <td>@item.ID</td>
                    <td>@item.City</td>
                    <td>@item.State</td>
                    @*<td>@item.Month-@item.Day-@item.Year</td>*@
                 <td>@(new DateTime(Convert.ToInt32(item.Year), Convert.ToInt32(item.Month), Convert.ToInt32(item.Day)).ToString("MM/dd/yyyy")) </td>
                
                </tr>
            }
        </tbody>
    </table>
</div>