@model List<CustomerServicePortal.Models.UserRegModel>

@foreach (var item in Model)
{
<tr>
    <td>

       @item.FirstName @item.LastName
        @*<span class="user-subhead">@item.Roles</span>*@
    </td>
    <td>
        @item.AuthenticationType
    </td>
    <td>
        @item.Roles
    </td>
    <td>
       @item.UserName
    </td>
    <td style="width: 20%;">

        <a class="table-link"  onclick="UserAddEdit(@item.ID)">
            <i class="fa fa-pencil mr-3"></i>
        </a>
        <a href="#" class="table-link danger" onclick="DeleteUser(@item.ID)">
            <i class="fa fa-trash"></i>
        </a>
    </td>
</tr>
}

