@model List<CustomerServicePortal.Models.UserRegModel>

@foreach (var item in Model)
{
<tr>
    <td>

        <a href="#" class="user-link">@item.FirstName @item.LastName</a>
        @*<span class="user-subhead">@item.Roles</span>*@
    </td>
    <td>
        @item.fund
    </td>
    <td>
        @item.Roles
    </td>
    <td>
        <a href="#">@item.UserName</a>
    </td>
    <td style="width: 20%;">
        <a class="table-link" href='@Url.Action("EditUser", "Users", new { Id=item.ID })'>
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="#" class="table-link">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="#" class="table-link danger" onclick="DeleteUser(@item.ID)">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </td>
</tr>
}

