@model CustomerServicePortal.Models.UserRegModel
@{
    ViewBag.Title = "Index";
}
<style>
    .eqv-entities-panel-block {
        padding: 15px 0px 0px 20px;
        max-height: 410px;
        overflow: auto;
    }

        .eqv-entities-panel-block ul {
            padding: 0px;
        }

    .glyphicon-trash {
        background: #EF5350;
        width: 25px;
        text-align: center;
        height: 25px;
        line-height: 25px;
        border-radius: 3px;
        color: #ffffff;
        font-size: 10px;
        cursor: pointer;
    }

    ​
    .open > .dropdown-menu {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        border: none;
    }

    .dropdown .dropdown-content.drop-custom {
        top: 36px;
        position: fixed !important;
        left: 50% !important;
    }

    .page-sidebar {
        position: absolute;
        top: 62px;
        background: #546E7A;
        height: calc(100vh - 62px);
        width: 200px;
        overflow: auto;
    }

    .page-content-main {
        margin-left: 200px;
        padding: 20px 0px;
        height: calc(100vh - 62px);
        overflow: auto;
    }

        .page-content-main .page-title {
            background-color: #ECEFF1 !important;
            font-weight: bold !important;
            text-align: left !important;
            padding: 25px 20px;
            height: auto;
            color: #484848;
            line-height: normal;
            margin: 5px 30px;
            border-radius: 8px;
            font-size: 15px;
        }

    .page-title p {
        margin: 0px;
    }

    .content-block {
        padding: 50px 40px;
        margin-bottom: 0;
        background: #fafafa;
        border-radius: 10px;
        height: 100%;
        margin: 30px 30px 30px 30px !important;
    }

    .form-control {
        border-radius: 5px !important;
        height: 40px !important;
        box-shadow: none !important;
        outline: none !important;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .submit-btn {
        border: none;
        border-radius: 5px;
        padding: 10px 30px;
        width: auto;
        cursor: pointer;
        background: #607D8B;
        color: #fff;
        font-size: 15px;
        letter-spacing: 0.5px;
    }

    .header-block {
        padding: 0px 25px 0px 0px !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .header-block .navbar-right {
            padding: 5px 0px !important;
        }

    .user-photo span {
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 700;
    }

    .user-photo {
        cursor: pointer;
    }

    .user-popup-block {
        position: absolute;
        top: 72px;
        right: 20px;
        width: 150px;
        background: #ffffff;
        box-shadow: 0px 0px 5px 0px #BDBDBD;
        border-radius: 10px;
        padding: 15px 14px;
        display: none;
    }

    .nav-user {
        padding: 0px;
        list-style: none;
        margin: 0px;
    }

        .nav-user li {
            padding: 5px 5px 5px 5px;
        }

            .nav-user li:nth-last-child(1) {
                padding: 5px 5px 0px 5px;
            }

    .user-popup-block.focused {
        display: block !important;
    }

    .user-photo-block {
        height: 60px;
        display: flex;
        align-items: center;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    .navbar-inverse {
        background: #CFD8DC !important;
        border: none !important;
        border-radius: 0px !important;
        padding: 0px !important;
    }

    .navbar-header {
        height: 62px;
        background: #546e7a;
        width: 200px;
        display: flex;
        align-items: center;
        padding: 0px 15px;
    }

    span.label {
        padding: 5px 15px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 25px;
    }

    .sidebar-nav {
        padding: 20px 0px 0px 20px;
        list-style: none;
        margin: 0px;
    }

        .sidebar-nav li {
            padding: 10px 0px;
        }

        .sidebar-nav a {
            color: #ffffff;
            text-decoration: none;
        }

    .form-group {
        margin-bottom: 20px !important;
        position: relative;
    }

        .form-group span.field-validation-valid,
        .form-group span.field-validation-error {
            position: absolute;
            left: 0px;
            bottom: -18px;
            font-size: 12px;
            letter-spacing: 0.3px;
        }

    .sidebar-nav a i {
        width: 25px;
        text-align: center;
    }

    .add-btn {
        border: solid 1px #546e7a;
        background: no-repeat;
        color: #252525;
        font-size: 12px;
        outline: none;
        box-shadow: none;
    }
</style>

<div class="page-content-main">
    <div class="note page-title">
        <p>User List</p>
    </div>
    <div class="page-content">
        <div class="content-block row">
            <form class="login100-form validate-form p-b-33 p-t-5" action="@Url.Action("AddUser","Users")" method="post">
                @*@Html.AntiForgeryToken()*@
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Firstname</label>
                                @Html.HiddenFor(model => model.ID, new { @Value = 0 })
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control Required", @placeholder = "First Name" })

                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Last name</label>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name" })

                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>User name</label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "User Name", @onkeyup = "FillEmail()" })

                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })

                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fund</label>
                                @Html.DropDownListFor(m => m.fund, new SelectList(ViewBag.Fund,"Value","Text"), new { @class = "form-control", @style = "padding: 6px;" })
                              

                                @Html.ValidationMessageFor(model => model.fund, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Role</label>

                                @Html.DropDownListFor(model => model.Roles,
                               new List<SelectListItem> {
                                    new SelectListItem { Value = "ABC_User" , Text = "ABC User" },
                                    new SelectListItem { Value = "Fund_User" , Text = "Fund User" }
                                 }, "Select Role",
                               new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="btn-form-submit" align="right">
                        <button type="submit" class="btnSubmit submit-btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function FillEmail() {
        $('#Email').val($('#UserName').val());

    }
</script>