@model CustomerServicePortal.Models.ChangepassWord



<form id="ChangePassword">


    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change PassWord</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @*<form action="#!">*@
    <div class="modal-body">
        <div class="row m-0">
            <div class="form-group col-md-12 p-0">
                <label for="inputEmail4">New Password</label>

                @Html.EditorFor(model => model.NewPassWord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassWord, "", new { @class = "text-danger" })


                @*<input type="email" class="form-control" id="inputEmail4" placeholder="Email">*@
            </div>
            <div class="form-group col-md-12 p-0">
                <label for="inputEmail4">Confirm Password</label>
                @*<input type="email" class="form-control" id="inputEmail4" placeholder="Email">*@
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="PassWordchangesubmit()" class="btn btn-primary">Save</button>
    </div>
</form>







<script>
    function PassWordchangesubmit() {
        if ($("#ChangePassword").valid()) {
              var changepass = $("#ChangePassword").serialize();
                          $.ajax({
                       type: "Get",
                   url:'@Url.Action("ChangePassWord", "Account")',
                              contentType: "application/json;charset=utf-8",
                              dataType: "json",
                              data: changepass,
                              //data: changepass,
                     success: function (response) {
                         $('#exampleModal').modal('toggle');

                         $("#ChangepasswordAlert").fadeTo(2000, 500).slideUp(500, function () {
                             $("#ChangepasswordAlert").slideUp(500);
                         });
                },
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });

        }
    }
</script>
