

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>@(CustomerServicePortal.DAL.GetLayoutSessionClass.GetLayoutModel() as CustomerServicePortal.Models.LayoutModel).HeaderTitle)</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="" />
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/js/ASPSnippets_Pager.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body>
    <!--wrapper-->
    <div class="wrapper">
        <!--header-->
        @Html.Action("LoadHeaderHtml", "Home")
        <!--/header-->  <!--pageBody-->
        <div class="pageBody" id="pageBody">
            <!--banner-->
            <!--navigation-->
            <div class="navigation">
                <div class="container">
                    <div class="nav">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a></li>
                            @*<li class="disabled"><a href="#">Print</a></li>*@
                            <li><a class="" href="@Url.Action("UsersList","Users")"><i class="fa fa-user"></i> Users</a></li>
                            <li><a class="" href="@Url.Action("Index","IdCardList")"><i class="fa fa-user"></i> Id Card Request</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
        <!--/pageBody-->
        <!--footer-->
        @Html.Action("LoadFooterHtml", "Home")
        <!--footer-->
    </div>
    <!--/wrapper-->
    @*@Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            // SET PAGE BODY HEIGHT
            var windowHeight = $(window).height();
            var headerHight = $("#header").outerHeight()
            var footerHight = $("#footer").outerHeight()
            var setHeight = windowHeight - headerHight - footerHight;
            $("#pageBody").css("min-height", setHeight + "px");
            $("#section").css("min-height", setHeight + "px");

            $('.userProfile').click(function (e) {
                $(".user-popup-main").toggleClass("focused");
                e.stopPropagation();
            });
            $('.user-popup-main').click(function (e) {
                e.stopPropagation();
            });
            $(document).click(function () {
                $(".user-popup-main").removeClass("focused");
            });

        })
    </script>
</body>
</html>